language: objective-c
osx_image: xcode10
podfile: /Users/vladan.randjelovic/Desktop/testGitCheckers/OClintExampleApp/Podfile
before_install:
- brew tap oclint/formulae
- brew install oclint
script:
  - xcodebuild | tee xcodebuild.log
  - oclint-xcodebuild
  - oclint-json-compilation-database | sed 's/\(.*\.\m\{1,2\}:[0-9]*:[0-9]*:\)/\1 warning:/'